* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100%;
    background-image: url(wood-texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 490px;
    height: 650px;
    border-radius: 30px;
    background-color: #404066;
    color: #444444;
    box-shadow: #000000 0px 0px 50px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 100px;
}

.row * {
    width: 100px;
    align-content: center;
    padding: 5%;
    text-align: center;
    border: 6px solid rgba(100, 0, 0, 0.2);
    border-radius: 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.9em;
}

.digit {
    background-color: #ffdd88;
}

.operator {
    background-color: #00bb99;
    color: #ffffff
}

#display {
    width: 330px;
    border-radius: 0px;
    background-color: #88aa44;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.4em;
    font-weight: bold;
    text-align: right;
    overflow-x: scroll;
    overflow-y: hidden;
}

#ac {
    background-color: #dd4477;
    color: #ffffff;
}

#equals {
    background-color: #dd8800;
    color: #ffffff
}

.digit:hover, .operator:hover, #ac:hover, #equals:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}